<h1 class="h3 mb-3 font-weight-normal">ログイン画面</h1>

<%= form_with(url: sessions_path, scope: :session,  local: true, class:"form-signin") do |f| %>

  <%= f.label :メールアドレス,  class: "sr-only" %>
  <%= f.email_field :email, class: "form-control",placeholder: "メールアドレス" %>
  
  <%= f.label :パスワード,  class: "sr-only" %>
  <%= f.text_field :password, class: "form-control", placeholder: "パスワード" %>

  <div class:"checkbox mb-3">
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span>次回から自動でログインする</span>
    <% end %>
  </div>

  <%= link_to "パスワードを忘れた方はこちらへ", "#" %>
  
  <%= f.submit "ログイン" %>
<% end %>