<% visitor = notification.visitor %>
<% visited = notification.visited %> 
<div class="noti-container">
  <div class="noti-image">
    <% if visitor.user_image? %>
    <%= image_tag visitor.user_image.url %>
    <% else %>
    <%= image_tag asset_path("default_user.png") %>
    <% end %>
  </div>
  <div class="noti-contents">
    <div class="noti-info">
      <%= link_to visitor.name, user_path(visitor) %>さんが
      <% case notification.action %>
        <% when "like" then %>
          <%= link_to notification.post.name, notification.post %> にいいねしました
        <% when "comment" then %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to notification.post.name, notification.post %>にコメントしました 
            <% end %>
        <% when "follow" then %>
           あなたをフォローしました
        <% end %>
    </div>
    <div class="noti-time">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
</div>
<hr>