<h1>いいねした作品一覧</h1>
<h4>あなたがいいねしたポートフォリオの一覧です。</h4>
<ul class="flex flame">
  <% @stocks.each do |stock| %>
  <li class="post-list flame">
    <div class="post-image">
      <% if stock.post.image? %>
        <%= image_tag stock.post.image.url %>
      <% else %>
        <%= image_tag asset_path("default_post.jpg") %>
      <% end %>
    </div>
    <div class="post-caption">
      <h3 class="post-title">
        <%= link_to stock.post.name, post_path(stock.post) %>
      </h3>
      <div class="post-box">
        <div class="post-box2">
          <p class="post-image">
            <% if stock.post.user.user_image? %>
              <%= image_tag stock.post.user.user_image.url %>
            <% else %>
              <%= image_tag asset_path("default_user.png") %>
            <% end %>
          </p>
          <p class="post-name">
            <%= link_to stock.post.user.name, user_path(stock.post.user) %>
          </p>
        </div>
      </div>
      <p class="post-tag">
        <% stock.post.tags.each do |list| %>
            <%= link_to list.tag_name, tag_path(list), class:"label label-primary" %>
        <% end %>
      </p>
      <p class="post-content">サービス概要</p>
      <p><%= stock.post.content.truncate(65) %></p>
      <p class="post-time">
        <%= time_ago_in_words(stock.post.created_at) %>前に投稿
      </p>
    </div>
  </li>
  <% end %>
</ul>
<%= paginate @stocks %>