<div class="user-show-container sub">
  <div class="user-show-image">
    <% if @user.user_image? %>
      <%= image_tag @user.user_image.url %>
    <% else %>
      <%= image_tag asset_path("default_user.png") %>
    <% end %>
  </div>
  <div class="user-show-info">
    <div class="user-show-name">
      <%= @user.name %>
    </div>
    <div class="user-show-follow">
      <%= render "stats" %>
      <%= render "follow_form" %>
    </div>
    <div class="user-show-sns">
      <% unless @user.twitter_link.blank? %>
        <div>
          <%= link_to @user.twitter_link, target:"_blank", class:"twitter expect" do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
        </div>
      <% end %>
      <% unless @user.github_link.blank? %>
        <div>
          <%= link_to @user.github_link, class:"github expect", target:"_blank" do %>
            <i class="fab fa-github-square"></i>
          <% end %>
        </div>
      <% end %>
      <% unless @user.id == current_user.id %>
        <% if @is_room == true %>
          <div class="user-show-chat">
            <%= link_to "メッセージを送る", room_path(@room_id), class:"btn-base" %>
          </div>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <div class="user-show-chat">
              <%= f.submit "メッセージを送る", class:"btn-base" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <div class="user-admin-edit ">
          <%= link_to "管理者権限で編集", edit_user_path, class:"btn-base" %>
        </div>
      <% end %>
      <% if @user == current_user %>
        <% unless current_user.admin? %>
          <div class="user-admin-edit">
            <%= link_to "編集", edit_user_registration_path, class:"btn-base" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="user-show-profile">
      <p><%= simple_format(@user.profile) %></p>
    </div>
  </div>
</div>