<h1>ユーザー詳細</h1>
<div class="user-show-image show-center">
  <% if @user.user_image? %>
    <%= image_tag @user.user_image.url %>
  <% else %>
    <%= image_tag asset_path("default_user.png") %>
  <% end %>
</div>
<div class="user-show-profile">
  <h2><%= @user.name %></h2>
  <% unless @user.profile.blank? %>
    <div>〜プロフィール〜</div>
    <p><%= @user.profile %></p>
  <% end %>
</div>
<h2>投稿一覧</h2>
<hr>
<% if @posts.any? %>
  <%= render 'shared/posts' %>
<% end %>
