<h1><%= @word %>一覧</h1>
<div class="sub1 user-index-container">
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <ul>
        <li class="user-index-image">
          <% if user.user_image? %>
            <%= image_tag user.user_image.url %>
          <% else %>
            <%= image_tag asset_path("default_user.png") %>
          <% end %>
        </li>
        <li class="user-index-content rela-name">
          <%= user.name %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div> 
<%= paginate @users %>
<div class="back">
  <%= link_to :back do %>
    <i class="fas fa-undo"></i> 戻る
  <% end %>
</div>