<div class="user-show-container sub">
  <div class="user-show-image">
    <% if @user.user_image? %>
      <%= image_tag @user.user_image.url %>
    <% else %>
      <%= image_tag asset_path("default_user.png") %>
    <% end %>
  </div>
  <div class="user-show-info">
    <div class="user-show-name">
      <%= @user.name %>
    </div>
    <div class="user-show-follow">
      <%= render "stats" %>
      <%= render "follow_form" %>
    </div>
    <div class="user-show-sns">
      <% unless @user.twitter_link.blank? %>
        <div>
          <%= link_to @user.twitter_link, target:"_blank", class:"twitter expect" do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
        </div>
      <% end %>
      <% unless @user.github_link.blank? %>
        <div>
          <%= link_to @user.github_link, class:"github expect", target:"_blank" do %>
            <i class="fab fa-github-square"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="user-show-profile">
      <p><%= simple_format(@user.profile) %></p>
    </div>
  </div>
</div>

<div class="sub1">
  <div class="user-nav-bar">
    <div class="user-nav-bar-content">
      <div class="user-nav-item active">投稿した作品</div>
    </div>
    <div class="user-nav-bar-content">
      <div class="user-nav-item">いいねした作品</div>
    </div>
  </div>
</div>
<% if @posts.present? %>
  <div class="user-nav-content content-active">
    <div class="posts-box">
      <% @posts.order(:created_at).each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @posts.present? %>
<div class="user-nav-content">
  <div class="posts-box">
    <% @stocks.order(:created_at).each do |stock| %>
      <%= render 'shared/posts', post: stock.post %>
    <% end %>
  </div>
</div>
<% end %>
