<h1>ユーザー詳細</h1>
<div class="user-show-image show-center">
  <% if @user.user_image? %>
    <%= image_tag @user.user_image.url %>
  <% else %>
    <%= image_tag asset_path("default_user.png") %>
  <% end %>
</div>
<div class="user-show-profile">
  <h2>
  <%= @user.name %>
  <% unless @user.uid.nil? %>
    <i class="fab fa-twitter"></i>
  <% end %>
  </h2>
  <div class="sns-container">
    <% unless @user.twitter_link.blank? %>
      <%= link_to @user.twitter_link, target:"_blank" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
    <% end %>
    <% unless @user.github_link.blank? %>
      <%= link_to @user.github_link, class:"github-link", target:"_blank" do %>
        <i class="fab fa-github-square"></i>
      <% end %>
    <% end %>
  </div>
  <% unless @user.profile.blank? %>
    <h3>〜プロフィール〜</h3>
    <p><%= simple_format(@user.profile) %></p>
  <% end %>
</div>
<h2>投稿一覧</h2>
<hr>
<% if @posts.any? %>
  <%= render 'shared/posts' %>
<% end %>
