<div class="posts-box">
  <% @posts.order(:created_at).each do |post| %>
    <div class="posts-item flame">
      <div class="item-image">
        <%= link_to post_path(post) do %>
          <% if post.image? %>
            <%= image_tag post.image.url %>
          <% else %>
            <%= image_tag asset_path("default_post.jpg") %>
          <% end %>
        <% end %>
      </div>
      <div class="item-time">
        <%= post.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="item-info">
        <div class="item-name">
          <%= post.name.truncate(40) %>
        </div>
        <div class="item-content">
          <%= post.content.truncate(80) %>
        </div>
        <p class=""><%= link_to "詳細をみる", post_path(post) %></p>
      </div>
      <hr>
      <div class="item-username">
        <% if post.user.user_image? %>
          <div><%= image_tag post.user.user_image.url %></div>
        <% else %>
          <div><%= image_tag asset_path("default_user.png") %></div>
        <% end %>
        <p><%= link_to post.user.name, user_path(post.user) %></p> 
      </div>
      <hr>
      <div class="item-tag">
        <% if post.tags.present? %>
            <% post.tag_counts_on(:tags).each do |tag| %>
              <%= link_to tag.name, posts_path(tag: tag.name), class:"tag-search" %>
            <% end %>
        <% else %>
          <p>付与されているタグはありません。</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>