<h1>メッセージ一覧</h1>
<div class="sub1 user-index-container">
  <% @rooms.each do |room| %>
    <% user = opened_user(room) %>
    <%= link_to room_path(room) do %>
      <ul>
        <li class="user-index-image">
          <% if user.user_image? %>
            <%= image_tag user.user_image.url %>
          <% else %>
            <%= image_tag asset_path("default_user.png") %>
          <% end %>
        </li>
        <li class="user-index-content">
        <div class="user-index-name">
          <%= user.name.truncate(30) %>
        </div>
        <div class="user-index-msg">
          <% message = get_new_msg(room) %>
          <% if message.present? %>
            <%= message.message.truncate(30) %>
          <% end %>
        </div>
        </li>
        <li class="user-index-time">
          <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <div class="back">
    <%= link_to :back do %>
      <i class="fas fa-undo"></i> 戻る
    <% end %>
  </div>
</div>