<h1><%= @post.name %></h1>

<div class="sub1 flame">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder:"サービス名を入力してください。(50字以内)", autocomplete:"off" %>
    </div>
    
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="form-group post-new-image">
      <%= f.label :image %>
      <%= f.file_field :image, class: "img-field", style: "display:none;" %>
      <% if @post.image? %>
        <%= image_tag @post.image.url, class:"img-prev", onClick: "$('.img-field').click()" %>
        <div class="form-group">
          <%= f.check_box :remove_image %>
          <%= f.label :画像を削除する %>
        </div>
      <% else %>
        <%= image_tag asset_path("default_post.jpg"), class:"img-prev", onClick: "$('.img-field').click()" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :開発期間 %>
      <%= f.text_field :period, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :アピールポイント %>
      <%= f.text_area :point, class: "form-control" %>
    </div>

    <div class="form-group expect">
      <%= f.label :タグ（複数つける場合はスペースキーで区切ってください。） %>
      <%= f.text_field :tag_list, class: "form-control", value: @post.tag_list.join(','), autocomplete:"off", id:"tags" %>
    </div>
    <div class="btn-container">
      <%= f.submit "更新する", class:"btn-base devise-btn" %>
    </div>
    <div class="back">
      <%= link_to post_path(@post) do %>
        <i class="fas fa-undo"></i> 詳細画面に戻る
      <% end %>
    </div>
  <% end %>
</div>