<h1><%= @post.name %></h1>

<div class="sub flame">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <%= f.label :サービス名 %>
      <%= f.text_field :name, class: "form-control", placeholder:"サービス名を入力してください。(50字以内)", autocomplete:"off" %>
    </div>
    
    <div class="form-group">
      <%= f.label :サービス概要 %>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :リンク %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :サムネイル画像 %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :開発期間 %>
      <%= f.text_field :period, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :アピールポイント %>
      <%= f.text_area :point, class: "form-control" %>
    </div>

    <div class="form-group expect">
      <%= f.label :タグ（複数つける場合はスペースキーで区切ってください。） %>
      <%= f.text_field :tag_list, class: "form-control", value: @post.tag_list.join(','), autocomplete:"off", id:"tags" %>
    </div>
    <div class="btn-container">
      <%= f.submit "更新する", class:"btn-base devise-btn" %>
    </div>
    <div class="back">
      <%= link_to :back do %>
        <i class="fas fa-undo"></i> 戻る
      <% end %>
    </div>
  <% end %>
</div>