<% if @tag_posts.present? %>
  <h1><span><%= @tag %></span> に関する投稿</h1>
  <div class="posts-box">
    <% @tag_posts.order(:created_at).each do |post| %>
      <%= render 'shared/posts', post: post %>
    <% end %>
  </div>
  <%= paginate @tag_posts %>
<% else %>
  <h1>全ての作品</h1>
  <div class="sub1">
    <div class="post-nav-bar">
      <div class="post-nav-bar-content">
        <div class="post-nav-item"><%= link_to "新着順", posts_path %></div>
      </div>
      <div class="post-nav-bar-content">
        <div class="post-nav-item"><%= link_to "人気順",  like_posts_posts_path %></div>
      </div>
      <div class="post-nav-bar-content">
        <div class="post-nav-item active"><%= link_to "フォロー", follow_posts_posts_path %></div>
      </div>
    </div>
  </div>
  <div class="post-nav-content">
    <div class="posts-box">
      <% @posts.each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
<% end %>