<h1>投稿する</h1>
<h4>あなたが作成したポートフォリオを投稿し、ユーザーに共有します。</h4>

<div class="sub flame">
<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  
  <div class="form-group">
    <%= f.label :サービス名 %><span class="must"> (必須)</span>
    <%= f.text_field :name, class: "form-control", placeholder:"サービス名を入力してください。(50字以内)", autocomplete:"off" %>	
  </div>
  
  <div class="form-group">
    <%= f.label :サービス概要 %><span class="must"> (必須)</span>
    <%= f.text_area :content, class: "form-control", placeholder:"サービスの概要を入力してください。(500字以内)", autocomplete:"off" %>	
  </div>
  
  <div class="form-group">
    <%= f.label :サムネイル画像 %>
    <%= f.file_field :image, class: "form-control" %>	
  </div>
  
  <div class="form-group">
    <%= f.label :サービスのリンク %><span class="must"> (必須)</span>
    <%= f.text_field :url, class: "form-control", placeholder:"サービスへのリンクを入力してください。", autocomplete:"off" %>	
  </div>

  <div class="form-group">
    <%= f.label :作成期間 %><span class="must"> (必須)</span>
    <%= f.text_field :period, class: "form-control", placeholder:"作成期間を入力してください。", autocomplete:"off" %>
  </div>

  <div class="form-group">
    <%= f.label :アピールポイント %>
      <%= f.text_area :point, class: "form-control", placeholder:"アピールポイントがあれば、入力してください。(500字以内)", autocomplete:"off" %>
  </div>

  <div class="form-group">
    <%= f.label :タグ（複数つける場合はスペースキーで区切ってください。） %>
        <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control", autocomplete:"off", id:"tags" %>
  </div>
  
  <div class="btn-container">
    <%= f.submit "投稿する", class:"btn-base devise-btn" %>
  </div>
<% end %>
</div>


