<div class="sub2 post-show-total">
  <div class="post-show-main">
    <div class="post-show-image">
      <% if @post.image? %>
        <%= image_tag @post.image.url %>
      <% else %>
        <%= image_tag asset_path("default_post.jpg") %>
      <% end %>
    </div>
    <div class="post-show-info">
      <div class="post-show-name">
        <%= @post.name %>
      </div>
      <% if @tags.present? %>
        <div class="post-show-tag">
          <% @tags.each do |tag| %>
            <%= link_to tag.name, posts_path(tag: tag.name), class:"tag-search" %>
          <% end %>
        </div>
      <% end %>
      <div class="post-show-subinfo">
        <div id="like-<%= @post.id %>" class="post-show-like">
          <%= render "likes/like_form" %>
        </div>
        <div id="stock-<%= @post.id %>" class="post-show-like">
          <%= render "stocks/stock_form" %>
        </div>
        <div class="post-show-comment">
          <div>
            <i class="fas fa-comments" style="color: #000;">
              <%= @post.comments.count %>
            </i>
          </div>
        </div>
        <div class="post-show-share">
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=「#{ @post.name }」を、Twitterでみんなに広めよう！", target:"_blank", class:"expect" do %>
            <i class="fab fa-twitter" style="color: #fff; margin-right: 5px;" ></i>Twitterでシェア
          <% end %>
        </div>
        <div class="post-show-time">
          <%= @post.created_at.to_s(:datetime_jp) %>
        </div>
        <% if @post.user == current_user || current_user.admin? %>
          <div class="post-show-edit">
            <%= link_to "編集", edit_post_path(@post), class:"btn-base post-edit-btn" %>
            <%= link_to "削除", post_path(@post), method: :delete, data:{confirm:"ポートフォリオを参考にしていたユーザーが悲しみます。本当に削除しますか？"}, class:"btn-base post-edit-btn expect" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="post-show-overview">
      <div class="post-show-username">
        <h5>投稿者</h5>
        <%= link_to user_path(@post.user) do %>
          <% if @post.user.user_image? %>
            <div><%= image_tag @post.user.user_image.url %></div>
          <% else %>
            <div><%= image_tag asset_path("default_user.png") %></div>
          <% end %>
          <p><%= @post.user.name %></p>
        <% end %>
      </div>
      <dl>
        <dt><i class="fas fa-check" style="margin-right: 10px;"></i>サービスの概要</dt>
        <dd><%= simple_format(@post.content) %></dd>
        <dt><i class="fas fa-check" style="margin-right: 10px;"></i>作成期間</dt>
        <dd><%= @post.period %></dd>
        <dt><i class="fas fa-check" style="margin-right: 10px;"></i>アピールポイント</dt>
        <dd><%= simple_format(@post.point) %></dd>
      </dl>
      <div class="post-show-link">
        <%= link_to @post.url, target:"_blank", class:"expect" do %>
          <i class="fas fa-link"></i>  ポートフォリオを閲覧する
        <% end %>     
      </div>
    </div>
    <%= render "posts/post_comment" %>
  </div>
  <%= render "side_posts" %>
</div>