<h1>作品概要</h1>
<div class="sub flame">
  <div class="post-image show-center">
    <% if @post.image? %>
      <%= image_tag @post.image.url %>
    <% else %>
      <%= image_tag asset_path("default_post.jpg") %>
    <% end %>
  </div>
  <% if @post.user == current_user %>
    <div class="show-center">
      <%= link_to "編集", edit_post_path(@post),class:"btn btn-primary" %>
      <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-primary", data:{confirm:"ポートフォリオを参考にしていたユーザーが悲しみます。本当に削除しますか？"} %>
    </div>
  <% end %>
  <h2>詳細</h2>
  <hr>
  <div class="content-box">
    <div class="show-title">サービス名</div>
    <div class="show-content">
      <p class><%= @post.name %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">作成ユーザー</div>
    <div class="show-content">
      <p class><%= link_to @post.user.name, user_path(@post.user) %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">サービスの概要</div>
    <div class="show-content">
      <p class=""><%= simple_format(@post.content) %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">サービスのリンク</div>
    <div class="show-content">
      <p><%= link_to @post.name ,@post.url, target:"_blank" %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">作成期間</div>
    <div class="show-content">
      <p class=""><%= @post.period %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">アピールポイント</div>
    <div class="show-content">
      <p><%= simple_format(@post.point) %></p>
    </div>
  </div>
  <div class="content-box">
    <div class="show-title">タグ</div>
    <div class="show-content">
      <p>
        <% @post.tags.each do |list| %>
          <%= link_to list.tag_name, tag_path(list), class:"label label-primary showtag" %>
        <% end %>
      </p>
    </div>
  </div>
  <div id="like-<%= @post.id %>" class="stock-block">
    <%= render "shared/stock_form" %>
  </div>
  <div class="sns-login">
    <%= link_to "Twitterでシェア", "https://twitter.com/share?url=#{ request.url }&text=「#{ @post.name }」を、Twitterでみんなに広めよう！" %>
  </div>

  <div>
  <h2>コメント欄</h2>
    <div id="comments-area">
      <%= render partial: "comments/index", locals: { comments: @comments } %>
    </div>
    <div class="comment-create">
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>
</div>
