<h1><%= @post.name %></h1>
<div>サービスの概要：<%= @post.content %></div>
<div>サービスへのリンク：<%=  %></div>
<div>主な実装機能：<%= @post.function %></div>
<div>使用言語：<%= @post.language %></div>
<div>開発期間：<%= @post.period %></div>
<div>アピールポイント：<%= @post.point %></div>
<div>
  <% @post.tags.each do |list| %>
    <%= link_to list.tag_name, tag_path(list) %>
  <% end %>
</div>
<%= render "shared/stock_form" %>


<div>
  <h2>コメント欄</h2>
  <% @comments.each do |comment| %>
    <% if comment.parent_id.present? || comment.id.blank? %>
      <% next %>
    <% end %>
    <hr>
    <p>
      <%= comment.user.name %><br><%=comment.content%>
    </p>
    <p>
      date:<%=comment.created_at.strftime("%Y-%m-%d %H:%M") %>
      <div>
        <% comment.replies.order(:created_at).each do |reply| %>
          <p>
            <%= comment.user.name %><br><%=reply.content%>
          </p>
        <% end %>
      </div>
      <%= form_with(model:[@post,@comment_reply]) do |f| %>
        <div class="row">
          <div class="form-group col-md-6">
            <textarea class="form-control input-form" name="comment[content]" rows="2"><%=@comment_reply.content%></textarea>
          </div>
        </div>
        <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :parent_id, value: comment.id%>
          <div class="actions">
            <%= f.submit "返信する", class: "btn-sm btn-primary" %>
          </div>
      <% end %>
  <% end %>
</div>

    <%= form_with(model:[@post,@comment]) do |f| %>
      <p><label>新規コメント</label></p>
      <textarea class="form-control input-form" name="comment[content]" rows="5"><%=@comment.content%></textarea>
      <%= f.hidden_field :post_id, value: @post.id %>
        <div class="actions">
          <%= f.submit "送信", class: "btn-sm btn-primary" %>
        </div>
    <% end %>
</div>