<h1>投稿詳細</h1>
<h2>サービス名：<%= @post.name %></h2>
<div>サービスの概要：<%= @post.content %></div>
<div>サービスへのリンク：<%=  %></div>
<div>主な実装機能：<%= @post.function %></div>
<div>使用言語：<%= @post.language %></div>
<div>開発期間：<%= @post.period %></div>
<div>アピールポイント：<%= @post.point %></div>

<%= render "shared/stock_form" %>