<h1>プロフィール編集</h1>
<div class="sub1 flame">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "off", class: "form-control", placeholder:"ユーザー名を入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder:"メールアドレスを入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :profile %>
      <%= f.text_area :profile, autocomplete: "off", class: "form-control", placeholder:"自己紹介文を入力してください。(500字以内)" %>
    </div>

    <div class="form-group">
      <%= f.label :twitter_link %>
      <%= f.text_field :twitter_link, autocomplete: "off", class: "form-control", placeholder:"Twitterリンクを入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :github_link %>
      <%= f.text_field :github_link, autocomplete: "off", class: "form-control", placeholder:"GitHubリンクを入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :user_image, class: "form-control", placeholder:"プロフィール画像を選択してください。" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% if current_user.provider.nil? %>
      <div class="form-group">
        <%= f.label :password %> <i>(変更したくない場合は空白にしてください。)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"パスワードを入力してください。(6文字以上)" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"確認用のパスワードを入力してください。" %>
      </div>
    <% end %>

    <div class="btn-container">
      <%= f.submit "保存する", class:"btn-base devise-btn" %>
    </div>
  <% end %>

  <div class="sub">
    <div class="delete-user">
      <%= link_to "アカウントを削除", user_path(current_user), data: { confirm: "本当に削除しますか？" }, method: :delete %>
    </div>
    <div class="back">
      <%= link_to :back do %>
        <i class="fas fa-undo"></i> 戻る
      <% end %>
    </div>
  </div>

</div>
