<h1>新規登録</h1>
<div class="sub1 flame">
  <div class="how-to-use">
    <div class="title">Sharing Portfolioへようこそ!!</div>
    <div class="title2">新規登録（無料）をすると以下のことができます。</div>
    <dl>
      <dt><i class="fas fa-edit"></i>サービスの投稿</dt>
      <dd>作成したポートフォリオを投稿することができます。</dd>
      <dt><i class="fas fa-eye"></i>サービスの閲覧</dt>
      <dd>ユーザーが投稿したポートフォリオを閲覧することができます。</dd>
      <dt><i class="far fa-comments"></i>サービスへのコメント</dt>
      <dd>投稿に対してコメントを残すことができます。</dd>
      <dt><i class="fas fa-thumbs-up"></i>サービスへのいいね</dt>
      <dd>投稿に対していいねを残すことができます。</dd>
      <dt><i class="fas fa-handshake"></i>ユーザーのフォロー</dt>
      <dd>気になる人をフォローし、投稿をチェックすることができます。</dd>
      <dt><i class="far fa-share-square"></i>SNSシェア</dt>
      <dd>気になる投稿はSNSにシェアすることができます。</dd>
    </dl>
  </div>  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %><span class="must"> (必須)</span>
      <%= f.text_field :name, autofocus: true, autocomplete: "off", class: "form-control", placeholder:"ユーザー名を入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><span class="must"> (必須)</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control", placeholder:"メールアドレスを入力してください。" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><span class="must"> (必須)</span>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"パスワードを入力してください。(6字以上)" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><span class="must"> (必須)</span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"確認用のパスワードを入力してください。" %>
    </div>

    <div class="actions btn-container">
      <%= f.submit "登録する" ,class:"btn-base"%>
    </div>
  <% end %>

  <div class="sub">
    <div class="twitter-login">
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <i class="fab fa-twitter"></i>Twitterで登録する
      <% end %>
    </div>
    <div>
    <div class="github-login">
      <%= link_to "#" do %>
        <i class="fab fa-github"></i>GitHubで登録する
      <% end %>
    </div>
    <div class="guest-login">
      <%= link_to "ゲストログイン(採用担当者様用)", users_guest_sign_in_path, method: :post %>
    </div>
    <div style="text-align:center;">既にアカウントをお持ちの方
      <%= link_to "ログインはこちら", new_user_session_path, style:"font-weight: 700;" %>
    </div>
  </div>
</div>
